/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log

.idea

# dependencies
/node_modules
/front-app/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# JS compiled files - front
/front-app/*.js
/front-app/**/*.js
/front-app/src/constants.ts
/ft_tictoc copy/react-nest-postgres-chat/server/uploads/*

